:root {
    --primary-light: #f1f1f1;
    --primary-dark: #8D816B;
    --secondary-light: #D6CDC6;
    --tertiary-color: #B96040; 
    --hover-color: black; 
}
  


@font-face {
    font-family: CasioFont;
    src: url(./fonts/eurostile_extended_black.ttf);
}

@font-face {
    font-family: SevSeg;
    src: url(./fonts/Segment7Standard.otf);
}


.case {
    margin: auto;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 4%;

    border: 1px solid black;
    border-radius: 3vh;
    max-width: 90vh;
    max-height: 90vh;
    background-color: var(--primary-light);
    aspect-ratio: 10/14.5;
    align-items: center;
    
}

header {
    flex: 1;
    width: 100%;
    display: flex;  
    align-items: center;
    justify-content: flex-end;
    height: 7%;
    margin: 0%;
}


.casio {
    flex: 3; 
    font-family: CasioFont;
    font-size: 1.3rem;
    text-align: center;
}

.panel {
    /* flex-grow: 4; */
    flex: 4;
    
    background-color: #220000;
    height: 150%;
    width: 40%;
    /* margin-top: -2%; */
    border-radius: 5px;
}


.model {
    flex: 3 3 0; 
    /* width: 30%; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin: auto;
}


#screen {
    /* shape */
    flex: 1 0 auto;
    width: 90%;
    border-radius: 0.5rem;
    /* height: 15%; */

    /* color */
    background-color: #6E7269;



}   


#screentext {
    /* font */
    font-family: SevSeg;
    font-size: 4.5rem;

    transform: scale(1,1.6);
    transform-origin: top left;
}


/* buttons */
button {
    padding: 0;
    margin: 0;
}

.buttons{
    flex: 4 0 auto;
    width: 95%;
    display: grid;

    grid-gap: 10px;
    grid-template-areas: 
    ".  .  .  mu of"
    "mc mr mm mp di"
    "mc mr mm mp di"
    "sq d7 d8 d9 ti"
    "sq d7 d8 d9 ti"
    "pe d4 d5 d6 mi"
    "pe d4 d5 d6 mi"
    "si d1 d2 d3 pl"
    "si d1 d2 d3 pl"
    "ac d0 pt eq pl"
    "ac d0 pt eq pl";
    /* grid-template-areas: 
    ". . . a a"
    "b b b b b"
    "c c c c c"
    "d d d d d"
    "e e e e g"
    "f f f f g";
     */
     grid-template-columns: repeat(5, 1fr);
     grid-template-rows: repeat(11, 1fr);
}


button {
    /* background-color: #220000   ; */
    padding: 0;
    font-size: 10px;   
    border-radius: 10px;
    max-width: 100%;
    overflow: hidden;
    font-size: 16px;
}

#mu         {grid-area: mu;}
#off        {grid-area: of;}
#mc         {grid-area: mc;}
#mr         {grid-area: mr;}
#m-minus    {grid-area: mm;}
#m-plus     {grid-area: mp;}
#divide     {grid-area: di;}
#sqrt       {grid-area: sq;}
#d7         {grid-area: d7;}
#d8         {grid-area: d8;}
#d9         {grid-area: d9;}
#times      {grid-area: ti;}
#percent    {grid-area: pe;}
#d4         {grid-area: d4;}
#d5         {grid-area: d5;}
#d6         {grid-area: d6;}
#minus      {grid-area: mi;}
#sign       {grid-area: si;}
#d1         {grid-area: d1;}
#d2         {grid-area: d2;}
#d3         {grid-area: d3;}
#ac         {grid-area: ac;}
#d0         {grid-area: d0;}
#point      {grid-area: pt;}
#equals     {grid-area: eq;}
#plus       {grid-area: pl;}



.red {
    background-color: var(--tertiary-color);
    color: var(--primary-light)
}


.grey {
    background-color: var(--primary-dark);
}

